.number-inputs {
  display: inherit;
  margin: 0 auto;
  width: 80%;
}

.boxes {
  padding: 1%;
  margin: 1%;
  height: 70px;
  font-size: large;
  width: 300px;
  font-family: "Open Sans";
}

.main-heading {
  margin-bottom:10px;
}

.specs,h2{
  margin-bottom:5px;
}

.App{
  text-align:center;
}

.button {
  margin: 1%;
  border-radius: 4px;
  background-color: #10c755;
  padding: 12px 64px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    background-color: #0ca045;
  
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .number-inputs {
    display: inherit;
    margin: 0 auto;
  }
  .boxes {
    margin:1%;
  }
}
