.number-inputs {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.boxes {
  padding: 1%;
  margin: 1%;
  height: 70px;
  font-size: large;
  width: 400px;
  font-family: "Open Sans";
}

.main-heading {
  margin-left: 15%;
  margin-bottom:10px;
}

.specs,h2{
  margin-left: 70px;
  margin-bottom:5px;
}

.button {
  margin: 1% 1% 1% 40%;
  border-radius: 4px;
  background-color: #10c755;
  padding: 12px 64px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    background-color: #0ca045;
  
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .number-inputs {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }
  .boxes {
    width: 400px;
  }
  .main-heading {
    margin-left: 10%;
  }
  .button {
    margin-left: 27%;
  }
}
